<h1>Editing Pruebas Competencium</h1>

<%= render 'form', pruebas_competencium: @pruebas_competencium %>

<%= link_to 'Show', @pruebas_competencium %> |
<%= link_to 'Back', pruebas_competencia_path %>
