<div class="ui container">

<p id="notice"><%= notice %></p>

<h1>Pruebas Competencia</h1>

<table class="ui unstackable table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pruebas_competencia.each do |pruebas_competencium| %>
      <tr>
        <td><%= pruebas_competencium.nombre %></td>

        <td><%= link_to 'Eliminar', pruebas_competencium, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pruebas Competencium', new_pruebas_competencium_path %>
</div>