<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pruebas_competencium.nombre %>
</p>

<%= link_to 'Edit', edit_pruebas_competencium_path(@pruebas_competencium) %> |
<%= link_to 'Back', pruebas_competencia_path %>
