<div class="ui container">

  <h1>Editar Tipo De Estudio</h1>

<%= render 'form', tipoestudio: @tipoestudio %>

<%= link_to 'Mirar', @tipoestudio %> |
<%= link_to 'Regresar', tipoestudios_path %>
</div>