<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipoestudio.nombre %>
</p>

<%= link_to 'Edit', edit_tipoestudio_path(@tipoestudio) %> |
<%= link_to 'Back', tipoestudios_path %>
