<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_de_sexo.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_de_sexo_path(@tipo_de_sexo) %> |
<%= link_to 'Back', tipo_de_sexos_path %>
