<div class="ui container">

<h1>Editar Jornada De Estudio</h1>

<%= render 'form', jornadaestudio: @jornadaestudio %>

<%= link_to 'Mirar', @jornadaestudio %> |
<%= link_to 'Regresar', jornadaestudios_path %>
</div>
