<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @jornadaestudio.nombre %>
</p>

<%= link_to 'Edit', edit_jornadaestudio_path(@jornadaestudio) %> |
<%= link_to 'Back', jornadaestudios_path %>
