<div class="ui container">
<h1>Editar Detalle De Ubicacion</h1>

<%= render 'form', detalleubicacion: @detalleubicacion %>

<%= link_to 'Mirar', @detalleubicacion %> |
<%= link_to 'Regresar', detalleubicacions_path %>
</div>

