<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @ubicacionvivienda.nombre %>
</p>

<%= link_to 'Edit', edit_ubicacionvivienda_path(@ubicacionvivienda) %> |
<%= link_to 'Back', ubicacionviviendas_path %>
