<div class="ui container" style="margin-top: 80px;">
  <h2 style="text-align: center;color: #0d0b43;">Formularios Disponibles</h2>


  <ul class="ui list">
    <% @pruebas.each do |p| %>
        <li><a href="/conpruebas/<%= p.id %>"><%=  p.nombre  %></a> </li>
    <% end %>

  </ul>

</div>