<% if @volprueba.count > 0 %>
    Ver afiches Disponibles
<% end %>

<% if current_user.esvoluntario %>
<%= link_to "Contestar Formularios", home_conpruebas_path %>
<% end %>


<!--
<% if user_signed_in? %>

    <li>
      <%= link_to('Cerrar sesion', destroy_user_session_path, :method => :delete) %>
    </li>
<% else %>
    <li>
      <%= link_to('Iniciar Sesion', new_user_session_path) %>
    </li>
<% end %>

-->