<style>
  .primerDelRow {
    box-shadow: -1px 0 0 0 rgba(34, 36, 38, .15), 1px 0 0 0 rgba(34, 36, 38, .15) !important;
  }

  .note {
    color: red;
  }
</style>




<div class="ui container" style="margin-top: 25px;">

  <h2 style="text-align: center;">Registrate como ONG</h2>


  <div class="ui negative message" id="erroresdiv">

    <div class="header">
      Ha ocurrido un error
    </div>
    <ul id="errores" class="errores">

    </ul>
  </div>


  <form action="/ong/create" method="post" class="ui form" id="new_user">


    <div class="ui divided grid">

      <div class="ui divider" style="width: 100%;"></div>

      <div class=" eight wide column primerDelRow">
        <div class="field">
          <label for="">Nombre</label>
          <input type="text" id="nombre" name="nombre" placeholder="Nombre">

        </div>
      </div>

      <div class=" four wide column">
        <div class="field">
          <label for="">NIT</label>
          <input type="text" id="nit" name="nit" placeholder="NIT">

        </div>
      </div>
      <div class=" four wide column">
        <div class="field">
          <label for="">Direccion</label>
          <input type="text" id="direccion" name="direccion" placeholder="Direccion">
        </div>
      </div>

      <div class="ui divider" style="width: 100%;"></div>

      <div class=" four wide column primerDelRow">
        <div class="field">
          <label for="">Telefono</label>
          <input type="text" id="telefono" name="telefono" placeholder="Telefono">

        </div>
      </div>

      <div class=" four wide column ">
        <div class="field" id="emailajax">
          <label for="">Correo Electronico</label>
          <input type="email" id="email" name="email" placeholder="Correo Electronico">
          <p class="note">El correo electronico ya existe</p>
        </div>
      </div>

      <div class=" four wide column ">
        <div class="field">
          <label for="">Nombres representante legal</label>
          <input type="text" id="nombre_representante" name="nombre_representante" placeholder="Nombres representante legal">

        </div>
      </div>
      <div class=" four wide column ">
        <div class="field">
          <label for="">Apellidos representante legal</label>
          <input type="text" id="apellido_representante" name="apellido_representante" placeholder="Apellidos representante legal">

        </div>
      </div>

      <div class="ui divider" style="width: 100%;"></div>

      <div class=" four wide column primerDelRow">
        <div class="field">
          <label for="">Numero documento representante legal</label>
          <input type="text" id="doc_representante" name="doc_representante" placeholder="Numero">

        </div>
      </div>

      <div class=" twelve wide column primerDelRow">
        <div class="field">
          <label for="">Mision</label>
          <input type="text" id="mision" name="mision" placeholder="Mision">

        </div>
      </div>


      <div class="ui divider" style="width: 100%;"></div>


      <div class=" sixteen wide column primerDelRow">
        <div class="field">
          <label for="">Vision</label>
          <input type="text" id="vision" name="vision" placeholder="Vision">

        </div>
      </div>

      <div class="ui divider" style="width: 100%;"></div>


      <div class="eight wide column">
        <label for="">Fecha de constitucion</label>
        <div class="three fields">
          <div class="field">
            <input type="text" id="daybirth" name="daybirth" maxlength="2" placeholder="Dia">
          </div>
          <div class="field">
            <select class="ui fluid search dropdown" name="monthbirth" id="monthbirth">
              <option value="">Mes</option>
              <option value="1">Enero</option>
              <option value="2">Febrero</option>
              <option value="3">Marzo</option>
              <option value="4">Abril</option>
              <option value="5">Mayo</option>
              <option value="6">Junio</option>
              <option value="7">Julio</option>
              <option value="8">Agosto</option>
              <option value="9">Septiembre</option>
              <option value="10">Octubre</option>
              <option value="11">Noviembre</option>
              <option value="12">Diciembre</option>
            </select>
          </div>
          <div class="field">
            <input type="text" id="yearbirth" name="yearbirth" maxlength="4" placeholder="Año">
          </div>
        </div>
      </div>


      <div class="four wide column">
        <div class="field">
          <label for=""> Clave</label>
          <input type="password" id="password" name="password" autocomplete="off">

        </div>
      </div>

      <div class="four wide column">
        <div class="field">
          <label for="">Confirmar Clave</label>
          <input type="password" id="password_confirmation" name="password_confirmation">

        </div>
      </div>

      <div class="ui divider" style="width: 100%;"></div>
      <div class="sixteen wide column primerDelRow">
        <div class="field">
          <label for=""> </label>
          <input type="submit" value="Registrar" class="ui primary button btnLogin">

        </div>
      </div>


      <div class="ui divider" style="width: 100%;"></div>


    </div>
  </form>
</div>





<script type="text/javascript" charset="utf-8">
    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
    $('.note').hide();

    $('#erroresdiv').hide();


    var nombre = null;
    var nit = null;
    var email = null;
    var mision = null;
    var vision = null;
    var daybirth = null;
    var monthbirth = null;
    var yearbirth = null;
    var password = null;
    var password_confirmation = null;
    var emailunico = true;
    var telefono = null;
    var nombre_representante = null;
    var apellido_representante = null;
    var doc_representante = null;


    $("#email").on('change keyup paste', function () {

        $.post('/checkemail?email=' + $("#email").val(), function (data) {

            if (data.email_exists) {
                $('#emailajax').addClass('error');
                $('.note').show();
                emailunico = false;
            } else {
                $('#emailajax').removeClass('error');
                $('.note').hide();
                emailunico = true
            }


        });
    });


    $('#new_user').submit(function () {

        var errores = [];


        nombre = $('#nombre').val();
        nombre_representante = $('#nombre_representante').val();
        apellido_representante = $('#apellido_representante').val();
        doc_representante = $('#doc_representante').val();


        var nombrevalido = /^[a-zA-Z\s]+$/.test(nombre);
        var nombre_representantevalido = /^[a-zA-Z\s]+$/.test(nombre_representante);
        var apellido_representantevalido = /^[a-zA-Z\s]+$/.test(apellido_representante);
        var doc_representantevalido = /^[0-9]+$/.test(doc_representante);


        if (doc_representante && !doc_representantevalido) {
            errores.push("El documento del representante debe contener unicamente numeros")
        }


        if (!nombre) {
            errores.push("El nombre es obligatorio")
        }


        if (nombre && !nombrevalido) {
            errores.push("El nombre debe contener unicamente letras")
        }
        if (nombre_representante && !nombre_representantevalido) {
            errores.push("El nombre del representante debe contener unicamente letras")
        }
        if (apellido_representante && !apellido_representantevalido) {
            errores.push("El apellido del representante debe contener unicamente letras")
        }


        nit = $('#nit').val();
        var nitvalido = /^[0-9\-]+$/.test(nit);
        if (!nit) {
            errores.push("El NIT es obligatorio")
        }

        if (nit && !nitvalido) {
            errores.push("El nit debe contener unicamente numeros o guiones")
        }


        email = $('#email').val();
        telefono = $('#telefono').val();

        var telefonovalido = /^[0-9]+$/.test(telefono);

        if (telefono && !telefonovalido) {
            errores.push("El telefono debe contener unicamente numeros")
        }


        if (!email) {
            errores.push("El correo electronico es obligatorio")
        }



        mision = $('#mision').val();
        var misionvalido = /^[a-zA-Z\s]+$/.test(mision);
        if (!mision) {
            errores.push("La mision es obligatoria")
        }

        if (mision && !misionvalido) {
            errores.push("La mision solo debe contener letras")
        }

        if (mision && mision.length < 100) {
            errores.push("La mision minimo debe contener 100 caracteres actualmente tiene: " + mision.length)
        }


        vision = $('#vision').val();
        var visionvalido = /^[a-zA-Z\s]+$/.test(vision);
        if (!vision) {
            errores.push("La vision es obligatoria")
        }


        if (vision && !visionvalido) {
            errores.push("La vision solo debe contener letras")
        }

        if (vision && vision.length < 100) {
            errores.push("La vision minimo debe contener 100 caracteres actualmente tiene: " + mision.length)
        }






        daybirth = $('#daybirth').val();
        monthbirth = $('#monthbirth').val();
        yearbirth = $('#yearbirth').val();


        if (!daybirth) {
            errores.push("El dia de constitucion de la empresa es obligatorio")
        }
        if (!monthbirth) {
            errores.push("El mes de constitucion de la empresa es obligatorio")
        }


        if (!yearbirth) {
            errores.push("El anio de constitucion de la empresa es obligatorio")
        }


        if (yearbirth < 1900 || yearbirth > 2017) {
            errores.push("El anio de constitucion de la empresa es invalido")
        }



        password = $('#password').val();
        if (!password) {
            errores.push("La clave es obligatoria")
        }
        password_confirmation = $('#password_confirmation').val();
        if (!password_confirmation) {
            errores.push("La confirmacion de la clave es obligatoria")
        }

        if (password && password.length < 6) {
            errores.push("La clave minimo debe contener 6 caracteres")
        }

        if (password != password_confirmation) {
            errores.push("Las claves no coinciden")
        }


        if (errores.length > 0) {
            $('#erroresdiv').show();
            var diverrores = $('#errores');
            diverrores.html('');

            for (var i = 0; i < errores.length; i++) {
                diverrores.append("<li>" +
                    errores[i] +
                    "</li>")
            }

            window.scrollTo(0, 0);

            return false

        } else if (!emailunico) {
            return false;
        } else {
            return true
        }


    })

</script>

<style>
  #nacionalidad.menu .item {
    text-align: left;
  }
</style>



