<div class="ui container">

<h1>Editar Tipo Estado Civil</h1>

<%= render 'form', tipo_estado_civil: @tipo_estado_civil %>

<%= link_to 'Mirar', @tipo_estado_civil %> |
<%= link_to 'Regresar', tipo_estado_civils_path %>
</div>