<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_estado_civil.nombre %>
</p>

<%= link_to 'Edit', edit_tipo_estado_civil_path(@tipo_estado_civil) %> |
<%= link_to 'Back', tipo_estado_civils_path %>
