<div class="ui container">
<h1>Editar Tipo Documento</h1>

<%= render 'form', tipo_documento: @tipo_documento %>

<%= link_to 'mirar', @tipo_documento %> |
<%= link_to 'Regresar', tipo_documentos_path %>
</div>