/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */


.ui.primary.btnLogin {
    width: 100%;
    background-color: #0d0b43;
    transition: 0.5s all;
    border: 1px solid #0d0b43;
}
.ui.primary.btnLogin:hover {
    width: 100%;
    background-color: #0c0b24;

}

button.ui.primary.btnNuevoONG {
    border: 1px solid #007FFF;
    background-color: #fff;
    color: #007FFF;
    transition: 0.5s all;
    width: 100%;
}

button.ui.primary.btnNuevoONG:hover {
    border: 1px solid #007FFF;
    background-color: #007FFF;
    color: #fff;

}

button.ui.primary.btnNuevoVol {
    border: 1px solid #1B998B;
    background-color: #fff;
    color: #1B998B;
    transition: 0.5s all;

    width: 100%;
}

button.ui.primary.btnNuevoVol:hover {
    border: 1px solid #1B998B;
    background-color: #1B998B;
    color: #fff;
}
.ui.form .field>.selection.dropdown {
  text-align: left;
}
.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
  cursor: pointer;
  position: absolute;
  width: auto;
  height: auto;
  line-height: 1.2142em;
  top: .78571429em;
  right: 1em;
  left: auto;
  z-index: 3;
  margin: -.78571429em;
  padding: .78571429em;
  opacity: .8;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
}



