<div class="ui container">

<h1>Editar Tipo De Contacto</h1>

<%= render 'form', tipocontacto: @tipocontacto %>

<%= link_to 'Mirar', @tipocontacto %> |
<%= link_to 'Regresar', tipocontactos_path %>
</div>