<div class="ui container">

<h1>Editar Tenencia De Vivienda</h1>

<%= render 'form', tenenciavivienda: @tenenciavivienda %>

<%= link_to 'Mirar', @tenenciavivienda %> |
<%= link_to 'Regresar', tenenciaviviendas_path %>
</div>