<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tenenciavivienda.nombre %>
</p>

<%= link_to 'Edit', edit_tenenciavivienda_path(@tenenciavivienda) %> |
<%= link_to 'Back', tenenciaviviendas_path %>
